{% extends "base.html" %}

{% block content %}

<div class="container">
    <section class="site-header">
      <div><h2 class="title">{{ TITLE }}</h2></div>
    </section>

    <section class="home-section">
        <div class="row">
          <ul>
          {% for page in pages %}
              {% if page.title == 'Overview' %}
                  {{ page.content }}
              {% endif %}
          {% endfor %}
          </ul>
        </div>
    </section>

    <section class="home-section">
      <h3 class="home-header">Recent blog posts</h3>
      {% for article in articles_page.object_list %}
      <article class="home-post">
        <header>
          <time datetime="" title="{{ article.date.isoformat() }}" pubdate style="float:right" class="blogpost-date">{{ article.locale_date }}</time>
          <br>
          <h5><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h5>
          <h6>by {{ article.author }}</h6>
        </header>

        <div class="article_content">

          {% if article.image %}
            <img class="blog-image" src="{{ SITEURL }}/images/{{article.image}}">
          {% endif %}
          {{ article.summary }}

          <div>
            <a class="button button-primary button-read" href="{{ SITEURL }}/{{ article.url }}">Read</a>
          </div>

        </div>

        <div class="meta">
          {% if article.tags %}
          <div>
              {% for tag in article.tags %}
                <a class="label-default" href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>
              {% endfor %}
          </div>
          {% endif %}
        </div>

      </article>
      <div class="separator"></div>
      {% endfor %}


</div>

{% endblock content %}
